.about_container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .photo_container {
    width: 300px;
    height: 320px;
    background-color: var(--brand-beige);
    position:relative;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .about_text {
    max-width: 750px;
    font-size: 17px;
    font-weight: 400;
  }
}
.photo_container::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 2px solid  var(--brand-beige);
  top: 20px;
  left: 20px;
  z-index: -1;
}
.resume {
  max-width: 200px;
  min-width: 200px;
  padding: 1rem;
  border: 1px solid var(--brand-beige);
  border-radius: .8rem;
  color: var(--brand-beige);
  background: transparent;
  font-weight: bold;
  font-size: 18px;
  margin: 1rem 0;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: 0.2s transform ease-in-out;
  will-change: transform;
  z-index: 0;
}

.resume::after {
  background-color:var(--brand-red);
  color: var(--brand-beige);
  border-radius: .8rem;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform: translate(-100%, -100%);
  transform-origin: top left;
  transition: 0.3s transform ease-in-out;
  will-change: transform;
  z-index: -1;
}
.resume:hover::after {
  transform: translate(0, 0);
}

.resume:hover {
  border: 1px solid transparent;
  color: var(--brand-beige);
  transform: scale(1.08);
  will-change: transform;
}

@media screen and (max-width: 1200px) {
  .about_container {
    .about_text {
      font-size: 16px;
      max-width: 480px;
      margin-bottom: 1rem;
    }
    .photo_container {
      width: 200px;
      height: 200px;
    }
  }

}
@media screen and (max-width: 920px) {
  .about_container {
    flex-direction: column-reverse;
    .photo_container {
      margin: 4rem 0;
      width: 200px;
      height: 200px;
    }
    .about_text {
        font-size: 14px;
      margin-bottom: 1rem;
    }
    .text_action {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

