:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --brand-beige:rgba(239, 239, 239, 1);
    --brand-red:#CE1B1B;
    --primary-glow: conic-gradient(
            from 180deg at 50% 50%,
            #16abff33 0deg,
            #0885ff33 55deg,
            #54d6ff33 120deg,
            #0071ff33 160deg,
            transparent 360deg
    );
    --secondary-glow: radial-gradient(
            rgba(255, 255, 255, 1),
            rgba(255, 255, 255, 0)
    );

    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(
            #00000080,
            #00000040,
            #00000030,
            #00000020,
            #00000010,
            #00000010,
            #00000080
    );

    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    font-family: 'Clash Display', sans-serif;
    /*background-color: #0F0D0E;*/

    color: var(--brand-beige);
}

body {
    background-color: #121212;
    font-family: 'Clash Display', sans-serif;
    position: relative;
    background-image: url("../images/texture-dark.jpg");

}

a {
    color: inherit;
    text-decoration: none;
}


/*.lines_background {*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    top: 0px;*/
/*    left: 0px;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    min-height: 100%;*/
/*    background-color: #FCFAF8;*/
/*    opacity: 0.08;*/
/*    background-size: 40px 32px;*/
/*    background-image: repeating-linear-gradient(to right, #666666, #666666 1.5px, #e5e5f7 1.5px, #e5e5f7);*/
/*}*/

h1 {
    /*text-align: center;*/
    font-size: 3rem;
    line-height: 1;
    font-weight: 700;
    color: transparent;
    transform: translateY(0%) translateZ(0px);
    opacity: 1;
    -webkit-text-stroke: 1.5px var(--brand-beige);
    letter-spacing: .125rem;
    padding-bottom: 0.25rem;
    text-rendering: optimizeSpeed;


}

h1 span {
    display: inline-block;
    position: relative;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    letter-spacing: inherit;
    mix-blend-mode: inherit;
    text-rendering: optimizeSpeed;
    opacity: 1;
    /*transform: none;*/
    color: var(--brand-beige);
}

.no-stroke {
    -webkit-text-stroke: 0 transparent !important;
}

p {
    /*padding: 10px 0 15px 0;*/
    /*font-size: 1.5rem;*/
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
}

h2 {
    font-size: calc(18px + 1.5vw);
    line-height: calc(18px + 1.8vw);
}

h3 {
    font-size: calc(18px + 0.8vw);
    line-height: calc(18px + 1vw);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding: 3rem 6rem;*/
    min-height: 80vh;
    grid-area: content;

}

header {
    grid-area: header;
    /*background-color: #fed330;*/
    padding: 20px;
}

aside {
    grid-area: sidebar;
    display: flex;
    align-items: flex-start;
    padding-top: 10rem;
    justify-content: center;
    border-right: 1px solid var(--brand-beige);
    max-width: 180px;
}

aside h1,h2 {
    transform: rotate(90deg);
}

.stroked-text {
    /*font-size: 3rem;*/
    line-height: 1;
    font-weight: 700;
    color: transparent;
    transform: translateY(0%) translateZ(0px);
    opacity: 1;
    -webkit-text-stroke: 1.5px var(--brand-beige);
    letter-spacing: .125rem;
    padding-bottom: 0.25rem;
    text-rendering: optimizeSpeed;
}

.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 9fr;
    grid-template-areas:
    "sidebar content"
}

@media (max-width: 700px) {
    .wrapper {
        grid-template-columns: 10fr;
        grid-template-areas:
      "content"
    }
    aside { display: none; }
    main {
        padding: 1.5rem !important;
    }
}
.active {
    background: var(--brand-red);
    color:  var(--brand-beige) !important;
    font-weight: 800 !important;
}

.mob_active {
    color:  var(--brand-red) !important;
    font-weight: 800 !important;
}
