.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  min-height: 80vh;
}



.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  padding: 4rem 0;
}

.outline_dev {
  text-align: center;
  line-height: 1;
  color: transparent;
  transform: translateY(0%) translateZ(0px);
  opacity: 1;
  -webkit-text-stroke: 2px var(--brand-beige);

  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-rendering: optimizeSpeed;
}

.large_text {
  font-size: calc(6vw + 20px) ;
  font-weight: 600;
}
.and_letter {
  color: var(--brand-beige);
  background-color: var(--brand-red);
  padding: 0.8rem;
  font-size: calc(2vw + 20px) ;
  font-weight: 600;
  border-radius: 50% 50% 50% 0 / 60% 0 60% 60%;
}
