.contact_container {
  width: 100%;
  max-width: 1280px;
  padding: 2rem;
}

.contact_title_container {
  border-bottom: 2px solid var(--brand-beige);
  padding-bottom: 8px;
  width: 100%;
}

.contact_actions_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 3rem 0 .5rem 0;
flex-wrap: wrap;
  button {
    max-width: 350px;
    min-width: 350px;
    padding: 1.5rem 3rem;
    border: 1px solid var(--brand-beige);
    border-radius: 2rem;
    color: var(--brand-beige);
    background: transparent;
    font-weight: bold;
    font-size: 18px;
    margin: 1rem 0;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
  }

  button::after {
    background-color: var(--brand-red);
    border-radius: 3rem;
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, -100%);
    transform-origin: top left;
    transition: 0.3s transform ease-in-out;
    will-change: transform;
    z-index: -1;
  }
  .linked::after {
    background-color: rgba(10, 102, 194,0.8);

  }
  button:hover::after {
    transform: translate(0, 0);
  }

  button:hover {
    color: white;
    transform: scale(1.08);
    will-change: transform;
    border: none;
  }
}

.location_and_phone {
  min-height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
.location , .phone {
  display: flex;
  flex-direction: row;
  align-items: center;
}
  .location {
    p {
      font-size: calc(18px + 1.5vw);
      letter-spacing: 0;
      font-weight: 300;
      margin: 0 10px;
      //line-height: calc(18px + 1vw);
    }
  }

  .phone {
    margin-top: 2rem;

    p {
      font-size: calc(18px + .4vw);
      letter-spacing: 0.3px;
      font-weight: 300;
      margin: 0 10px;
    }
  }
}
