.nav_container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  border: none;
  border-radius: 20px;
  padding: 0.5rem;
  transition: all .25s ease-in-out;
  ul {
    border-radius: 50px;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    padding: 0.3rem;
    background: var(--brand-beige);
    align-items: center;
    justify-content: center;
    overflow: hidden;
  li {
    color: #222222;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.35rem 1rem;
    font-weight: 600;
    font-size: 12px;
  }
  }
}

.burger_icon {
  cursor: pointer;
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  border: none;
  border-radius: 50%;
  padding: 0.6rem 0.7rem;
  transition: all .25s ease-in-out;
  background: var(--brand-red);
  display: none;
  div {
    height: 3px;
    margin: 4px 0;
    width: 22px;
    background: white;
    border-radius: 5px;
  }
}

@media screen and (max-width: 590px) {
  .nav_container {
    display: none;
  }
  .burger_icon {
    display: block;
  }
  }
.full_nav_content {
  transition: all ease-in-out 0.2s;
  //background: #222222;
  top: 0;
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100%;
  padding-top: 2vw;
  display: none;
  ul {
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    li {
      margin: 10px 0;
      a {
        font-size: 2.5em;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        transition: all ease-in-out 0.2s;
        &:hover {
          color:var(--brand-red)
        }
      }
    }

  }
}
