
.experiencesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width:inherit;
  padding: 1rem;
  margin: 0.3rem 0 2rem 0;
}

.experiencesSectionTitle {
  border-bottom: 1px solid var(--brand-beige);
  padding-bottom: 5px;
  width: 100%;
}

.workContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
  border-bottom: 1px solid rgba(var(--callout-border-rgb), 0.25);
  padding-bottom: 1rem;
  width: 100%;

  &:last-child {
    border:none;

  }
  .workContainerHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
.period_container {
  text-align: end;
  .period {
    font-size: 0.9rem;
    font-weight: 600;
    opacity: .8;
    color: var(--brand-beige);
    margin: 5px 0;
    letter-spacing: .01rem;
  }
  .workType {
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--brand-beige);
    letter-spacing: .01rem;
  }
}
  }
  .place {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--brand-beige);
    letter-spacing: .06rem;
    text-transform: uppercase;
  }
  .position {
    font-size: 1rem;
    font-weight: 500;
    color: var(--brand-beige);
    margin: 5px 0 12px 0;
    letter-spacing: .01rem;
  }
  .description {
    font-size: 1rem;
    font-weight: 400;
    color: var(--brand-beige);
    opacity: .75;
    letter-spacing: .01rem;

  }
  .usedSkills {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 1.2rem ;
  }
  button {
    flex-shrink: 0;
    background: transparent;
    padding: 5px 10px;
    border-radius: 20px;
    color: var(--brand-beige);
    border: 1px solid var(--brand-beige);
    font-weight: 400;
  }

}

