
.skillsContainer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 1rem;
  margin: 0.3rem 0 2rem 0;
}

.skillsSectionTitle {
  border-bottom: 1px solid var(--brand-beige);
  padding-bottom: 5px;
  width: 100%;
}

.skillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: center;
  margin: 1rem 1.5rem;
  p {
    margin-top: 10px;
    font-size: 14px;
  }
}

.skillIconContainer {
  border-radius: 50%;
  //border: 1px solid;
  padding: 10px;
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 570px){

  .skillContainer {
    margin: 0.8rem 0.7rem;
    p {
      margin-top: 8px;
      font-size: 9px;
    }
  }
  .skillIconContainer {
    width: 55px;
    height: 55px;
    img {
      width: 30px !important;
      height: 30px !important;
    }
  }
}
